table {
    border-collapse: collapse;
    font-family: "Times New Roman", serif;
    width: auto;
    table-layout: auto;
}

th, td {
    background: rgba(227, 240, 216);
    border: 1px;
    border-color: rgba(71, 98, 50);
    padding: 5px;
    word-wrap: break-word;
    overflow: hidden;
    min-width: 25px;
    min-height: 10px;
    resize: both;
}

th {
    text-align: center;
}

td:first-child {
    text-align: right;
}

td {
    text-align: left;
}

.selected {
    border: 2px;
    border-color: rgba(229, 161, 241);
}

.active {
    border: 2px;
    border-color: rgba(229, 92, 255);
}

#context-menu {
    position: absolute;
    background: rgba(212, 233, 197);
    border: 1px;
    border-color: rgba(123, 172, 88);
    padding: 5px;
    box-shadow: 2px 2px 5px rgba(88, 123, 63);
}

#context-menu div {
    padding: 5px;
    cursor: pointer;
}

#context-menu div:hover {
    background: rgba(198, 226, 178);
}
